[Unit]
Description=Ghostlink Fan Control
After=local-fs.target

[Service]
Type=simple
ExecStart=/opt/ghostlink/system/fan.sh daemon
Restart=always
RestartSec=5

[Install]
WantedBy=ghostlink.target
