[Unit]
Description=Ghostlink Network Manager
After=gl-identity.service network-pre.target
Wants=gl-identity.service
Before=hostapd.service dnsmasq.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/ghostlink/network/mgmt.sh start
ExecStart=/opt/ghostlink/network/setup_upstream.sh
ExecStart=-/opt/ghostlink/network/setup_hotspot.sh
ExecStart=/opt/ghostlink/network/nat.sh up
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=ghostlink.target
