[Unit]
Description=Ghostlink Network Manager
After=gl-identity.service
Requires=gl-identity.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/ghostlink/network/setup_upstream.sh
ExecStart=/opt/ghostlink/network/setup_hotspot.sh
ExecStart=/opt/ghostlink/network/nat.sh apply

[Install]
WantedBy=ghostlink.target
